.App {
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.element-list {
  display: flex;
  overflow-x: hidden;
  margin-top: 20px;
  position: relative;
}

.element {
  width: 20vw;
  height: 20vw;
  flex-shrink: 0;
  margin-right: 10px;
}
